/* Merriweather font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    font-family: Merriweather, serif;
    font-size: 3vh;
    overflow: hidden;
}

.content-container {
    background: url('./../resources/images/backgrounds/Carnegiea_gigantea_near_Tucson_3-small.jpg'), linear-gradient(to bottom right, white, tan);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow-y: scroll;
    padding: 3vh;
}

.fullsize {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content {
    padding: 3vh;
    width: 80%;
    border: 1vh solid green;
    border-radius: 2vh;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), tan);
    box-shadow: 0.5vh 0.5vh 2vh black;
}

@media screen and (orientation: landscape) {
    .content {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .color-cap {
        color: green;
    }
}

.bigger {
    font-size: 4.5vh;
}

a {
    color: green;
}

a:hover {
    background: navajowhite;
}

a.cactus {
    text-decoration: none;
}

a.sm {
    display: inline-block;

    border-radius: 5vh;
    width: 7vh;
    height: 7vh;
    border: 0;
}

a.sm:hover {
    background: navajowhite;
}

h1.name-title {
    margin-top: 0;
    text-shadow: 2px 2px 2px #ccc;
}

h2 {
    font-size: 1.2em;
    margin-top: 1.5em;
    margin-bottom: 0;
}

ul.social-media {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

ul.social-media li {
    display: inline;
}

p.resume-link {
    text-align: center;
}

.sm-image {
    height: 7vh;
    width: 7vh;
    line-height: 3vh;
    vertical-align: middle;
    border: 0;
}

.big-button {
    text-shadow: .1vh .1vh .2vh gray;
    box-shadow: 2px 2px 2px gray;

    text-decoration: none;
    background: linear-gradient(to bottom right, lime, forestgreen);
    color: white;
    border: 0.5vh solid green;
    border-radius: 2vh;
    padding: 1.1vh;
    line-height: 10vh;
}

.big-button:hover {
    background: linear-gradient(to bottom right, yellow, gold);
    color: white;
    border-color: gold;
}

.big-button:active {
    background: linear-gradient(to top left, lime, forestgreen);
    color: chartreuse;
    border-color: yellow;
}

.big-button img {
    height: 4.5vh;
/*    vertical-align: middle;*/
}

.footer-cactus {
    float: right;
    font-size: 50%;
    margin-left: 0.2vh;
}

.footer-text {
    float: right;
    font-size: 50%;
    margin-top: -0.3vh;
}

.icon-link {
    text-decoration: none;
}

.name-click {
    cursor: pointer;
    text-decoration: none;
    font-size: 0.5em;
    vertical-align: middle;
    line-height: 2em;
}

.hidden {
    display: none;
}


ol {
    font-size: 80%;
    list-style-type: "\1F335";
    padding-left: 1em;
}

ol li {
    margin-bottom: 0.5em;
}

.list-item-spacer {
    display: block;
    padding-left: 0.2em;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    font-size: 50%;
    margin-top: 0.5em;
}
