body {
    background: tan;
    font-family: sans-serif;
    font-size: 3vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullsize {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
}

.content {
    padding: 3vh;
    width: 50%;
    border: 1vh solid green;
    border-radius: 2vh;
    background: linear-gradient(to bottom right, white, tan);
}

.bigger {
    font-size: 5vh;
}

a { color: green; }
a:hover { background: navajowhite; }
a.cactus {
    text-decoration: none;
}

a.sm {
    display: inline-block;
    
    width: 5vh;
    height: 5vh;
    border: 0;
}

a.sm:hover {
    background: navajowhite;
}

.sm-image {
    height: 5vh;
    width: 5vh;
    line-height: 3vh;
    vertical-align: middle;
    border: 0;
}

.big-button {
    text-shadow: .1vh .1vh .2vh gray;
    box-shadow: 2px 2px 2px gray;

    text-decoration: none;
    background: linear-gradient(to bottom right, lime, forestgreen);
    color: white;
    border: 0.5vh solid green;
    border-radius: 2vh;
    padding: 1vh;
    line-height: 10vh;
}

.big-button:hover {
    /*background: linear-gradient(to bottom right, navajowhite, forestgreen);*/

    background: linear-gradient(to bottom right, lime, forestgreen);
    color: white;
    border-color: yellow;
}

.big-button:active {
    background: linear-gradient(to top left, lime, forestgreen);
    color: chartreuse;
    border-color: yellow;            
}